In [1]:
## Índices múltiples y jerarquía

In [3]:
import numpy as np
import pandas as pd

In [26]:
# Index Levels
exterior = ['G1','G1','G1','G2','G2','G2']
interior = [1,2,3,1,2,3]
jerarquia_indices = list(zip(exterior,interior))
jerarquia_indices = pd.MultiIndex.from_tuples(jerarquia_indices)

In [27]:
# array
exterior

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [28]:
# array
interior

[1, 2, 3, 1, 2, 3]

In [29]:
jerarquia_indices = list(zip(exterior,interior))
jerarquia_indices

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [30]:
jerarquia_indices = pd.MultiIndex.from_tuples(jerarquia_indices)
jerarquia_indices

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [31]:
# Obteniendo un dataframe según la estructura que hemos diseñado
df = pd.DataFrame(np.random.randn(6,2),index=jerarquia_indices,columns=['A','B'])
df

             A         B
G1 1 -0.464925  0.413703
   2  1.922749 -1.669807
   3  0.516601  0.593689
G2 1  0.346182 -1.533485
   2  1.459417  0.261584
   3 -0.739528  0.249339

In [32]:
# ¿Cómo podemos obtener todos los datos que tienen como índice G1?
# Utilizamos la función loc[]

df.loc['G1']

          A         B
1 -0.464925  0.413703
2  1.922749 -1.669807
3  0.516601  0.593689

In [33]:
df.loc['G2']

          A         B
1  0.346182 -1.533485
2  1.459417  0.261584
3 -0.739528  0.249339

In [34]:
df.loc['G1'].loc[1]

A   -0.464925
B    0.413703
Name: 1, dtype: float64

In [35]:
df.loc['G1'].loc[1].loc['A']

-0.4649251082798757

In [36]:
# Indicando el nombre a los índies
# df.index.names

df.index.names = ['Grupo','Núm'] # Primer índice, segundo índice

In [37]:
df

                  A         B
Grupo Núm
G1    1   -0.464925  0.413703
      2    1.922749 -1.669807
      3    0.516601  0.593689
G2    1    0.346182 -1.533485
      2    1.459417  0.261584
      3   -0.739528  0.249339

In [38]:
df.xs('G1')

            A         B
Núm
1   -0.464925  0.413703
2    1.922749 -1.669807
3    0.516601  0.593689

In [40]:
df.xs(['G1',1])

A   -0.464925
B    0.413703
Name: (G1, 1), dtype: float64

In [42]:
df.xs(1,level='Núm')

              A         B
Grupo
G1    -0.464925  0.413703
G2     0.346182 -1.533485