In [1]:
import pandas as pd

In [16]:
bikes = pd.read_csv('bikes.csv', sep=';', 
                    encoding='latin1', parse_dates=['Date'], dayfirst=True, index_col='Date')

In [17]:
berri_bikes = bikes[['Berri 1']].copy()

In [18]:
berri_bikes[:5]

            Berri 1
Date
2012-01-01       35
2012-01-02       83
2012-01-03      135
2012-01-04      144
2012-01-05      197

In [19]:
berri_bikes.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-10-27', '2012-10-28', '2012-10-29', '2012-10-30',
               '2012-10-31', '2012-11-01', '2012-11-02', '2012-11-03',
               '2012-11-04', '2012-11-05'],
              dtype='datetime64[ns]', name='Date', length=310, freq=None)

In [20]:
berri_bikes.index.day

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
            ...
            27, 28, 29, 30, 31,  1,  2,  3,  4,  5],
           dtype='int64', name='Date', length=310)

In [21]:
berri_bikes.index.weekday

Int64Index([6, 0, 1, 2, 3, 4, 5, 6, 0, 1,
            ...
            5, 6, 0, 1, 2, 3, 4, 5, 6, 0],
           dtype='int64', name='Date', length=310)

In [22]:
berri_bikes.index.month

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            10, 10, 10, 10, 10, 11, 11, 11, 11, 11],
           dtype='int64', name='Date', length=310)

In [23]:
berri_bikes.index.weekofyear

Int64Index([52,  1,  1,  1,  1,  1,  1,  1,  2,  2,
            ...
            43, 43, 44, 44, 44, 44, 44, 44, 44, 45],
           dtype='int64', name='Date', length=310)

In [24]:
berri_bikes.index.dayofyear

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            301, 302, 303, 304, 305, 306, 307, 308, 309, 310],
           dtype='int64', name='Date', length=310)

In [11]:
# ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

berri_bikes.loc[:,'weekday'] = berri_bikes.index.weekday
berri_bikes[:5]

            Berri 1  weekday
Date
2012-01-01       35        6
2012-01-02       83        0
2012-01-03      135        1
2012-01-04      144        2
2012-01-05      197        3

In [28]:
# Solo el n√∫mero de ciclistas que han pasado por la calle Berri los martes
berri_bikes[berri_bikes.index.weekday == 2][:5]

            Berri 1
Date
2012-01-04      144
2012-01-11      273
2012-01-18      139
2012-01-25      334
2012-02-01      138